@import '../../../assets/scss/variables';
.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  vertical-align: middle;
  margin-left: 1rem;
}

.arrow-down {
  transform: rotate(180deg);
  transition: all 0.2s linear;
}

.arrow-up {
  transform: rotate(0);
  transition: all 0.2s linear;
}
